body {
    background-image: url('../images/twilightzone.jpg');
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height:100%;
}

.header {
    margin-top: 25px;
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
}

.error {
    font-family: 'PT Serif', serif;
    color: white;
    text-align: center;
    font-size: 35px;
}

.headline {
    padding-top: 0px;
    margin-top: -5px;
    font-family: 'PT Serif', serif;
    color: red;
    text-align: center;
    font-size: 40px;
}



.red {
    color: red;
}

.white {
    color: white;
}

