body {
    background-image: url('../images/twilightzone.jpg');
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height:100%;
}

.main {
    margin-top: 28px;
}
.error {
    font-family: 'PT Serif', serif;
    color: white;
    text-align: center;
    font-size: 35px;
}

.headline {
    margin-top: -3px;
    font-family: 'PT Serif', serif;
    color: white;
    text-align: center;
    font-size: 40px;
}

.red {
    color: red;
}

.white {
    color: white;
}
.footer {
    margin-top: 370px;
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
}
